<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../partials/head'); %>
</head>

<body>
  <%- include('../partials/addPin') %>
  <!-- Container for map and sidebar -->
  <div class="wrapper">

    <%- include('../partials/sidebar') %>
    <div id="content" class="m-0 p-0 ">
      <%- include('../partials/map') %>
    </div>

  </div>
  <script src="../javascripts/usermap.js" charset="utf-8"></script>
  <script src="../javascripts/mapTemplates.js" charset="utf-8"></script>
  <%- include('../partials/script') %>
</body>


</html>
